@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



*{
    padding: 0;
    margin: 0;
    font-size: inherit;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    background-color: #24282f;
    padding-top: 30px;
}
.container-header{
    max-width: 1094px;
    margin: auto;
    color: white;
}
.container-header .logo{
    float: left;
}
.menu{
    float: right;
}
.clearflex{
    clear: both;
}
.menu-li{
    display: inline-block;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 51px;
    font-family: 'Open Sans';
}
.menu-li a:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #b5a263;
    margin-top: 29px;
    transition: 0.3s;
}
.menu-li:hover a:after{
    width: 100%;
}

.bg {
    background-image: url('../images/bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 225px;

}
.container-about-us{
    max-width: 1094px;
    margin: auto;
    color: white;
}
 .about-us{
    font-size: 32px;
    padding-top: 72px;
    text-transform: uppercase;
    font-family: 'Raleway';
}
 .info-about-us{
    font-size: 12px;
    padding-top: 12px;
    max-width: 628px;
    font-family: 'Open Sans';
}
.container-management{
    max-width: 890px;
    margin: auto;
    padding-top:120px;
}
.title-management{
    font-size: 20px;
    color: #24282f;
    text-align: center;
    padding-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}
.container-management:after{
    content:"";
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 61px;
    height: 2px;
    background-color: #b5a263;
}
.border{
    max-width: 890px;
    margin: auto;
    border-bottom: #b5a263 2px solid;
    width: 60px;
   margin-bottom: 26px;
    text-align: center;
}
.float{
    float: left;
    padding-top: 25px;
}
.float img{
    width: 100%;
}
.block{
     max-width: 250px;
     margin: 0px 40px;

 }
.socialnetworks{
    float: right;
    padding:  25px 3px 0px 0px;
}

.margin_none{
    margin-right: 0px;
}
.flex{
    display: flex;
}
.name-manager{
    text-transform: uppercase;
    font-size: 13px;
}
.specialty-manager{
    color: #b5a263;
    font-size: 12px;
}
.button{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-top: 32px;
    padding: 15px;
    margin-bottom: 25px;

}
.border_2{
    border: black 2px solid;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 30px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 130px;
    background: white;

}
.container-carousel-client{
    max-width: 100%;
    height: 472px;
    margin: auto;
    margin-top: 25px;
    padding-top: 93px;
    background-color: #f7f7f7;
}
.container_carousel{
    max-width: 890px;
    margin: auto;
}
.info-client{
    max-width: 685px;
    margin: auto;
    line-height: 18px;
    font-family: 'Open Sans';

}
.client-say{
    font-size: 20px;
    color: #24282f;
    text-align: center;
    padding-bottom: 24px;
    text-transform: uppercase
}
.client-say:after{
    content:"";
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 61px;
    height: 2px;
    background-color: #b1b2b4;
}
.for-foto{
    max-width: 72px;
    margin: auto;
    padding-bottom: 30px;
}
.foto-mini{
   width: 100%;
}
.about-manager-name{
    text-transform: uppercase;
    font-size: 13px;
    color: #b5a263;
    text-align: center;
    padding-top: 36px;
}
.about-specialty-manager{
    font-size: 12px;
    text-align: center;
    color: black;
    padding-top: 12px;
}

.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: 0;
    top: 100px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    outline: none;
}
.owl-carousel .owl-nav button.owl-prev:before {
    content: "\f053";
}
.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: 0;
    top: 100px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    outline: none;
}
.owl-carousel .owl-nav button.owl-next:before{
    content: "\f054";
}

.owl-carousel .owl-dots{
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
}
.owl-carousel button.owl-dot span{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: gray;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
}
.owl-carousel button.owl-dot.active span{
     background-color: black;

 }
.owl-carousel .owl-dot.active{
    outline: none;
}
.container-info{
    height: 233px;
    background-color: #2b2f35;
    padding-top: 62px;
}
.float_1{
    width: 234px;
    float: left;
    padding-bottom: 33px;
    margin-left: 305px;
}
.float_1 h3{
    text-transform: uppercase;
    color: #b5a263;
    font-size: 13px;
}
.float_1 p{
    color: #6e7279;
    font-size: 12px;
    line-height: 20px;
}
.float_2{
    width: 234px;
    float: left;
    padding-bottom: 33px;
    margin-left: 135px;
}
.float_2 h3{
    text-transform: uppercase;
    color: #b5a263;
    font-size: 13px;
}
.float_2 p{
    color: #6e7279;
    font-size: 12px;
    line-height: 20px;
}
.float_3{
    margin-left: 135px;
}
.float_3 h3{
    text-transform: uppercase;
    color: #b5a263;
    font-size: 13px;
}
.float_3 lable{
     display: block;
 }
.float_3 input{
    height: 28px;
    width: 238px;
    color:#5b5f66 ;
    border: solid 2px #5b5f66;
    background-color:#2b2f35;
    padding-left: 8px;
    margin-top: 18px;
    text-align: left;
}
.float_3 button{
    display: block;
    height: 28px;
    width: 238px;
    margin-top: 8px;
    background-color: #b5a263;
    color: white;
}
.container-footer{
    height: 52px;
    background-color: #24282f;
    border: solid 1px #42464c;
    padding: 0px 308px ;
}
.container-footer p{
    font-size: 10px;
    color:#b5a263;
    float: left;
    padding-top: 20px;
}
.container-footer a{
    float: right;

}
.icon_2 a{
    display: inline-block;
    width: 25px;
    line-height: 25px;
    border: solid 1px #565a61;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color:#565a61;
}

.icon_2 a:hover{
    background-color:#b5a263;
    color: white;
    transition: 0.3s
}
.icon_2> .fab{
    text-align: center!important;
}



.container-accordion{
    max-width: 1200px;
    margin: auto;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: #fce7f2;
    border-radius: 0;
    color: #860da6;
    border: none;
}
.ui-accordion .ui-accordion-header{
    padding: 15px 0 15px 17px;
    font-size: 22px;
    outline: none;
}
.ui-accordion .ui-accordion-header:before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    margin-right: 10px;
    color:#860da6 ;
    position: relative;
    top: -5px;
    background-color: #860da6;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color: #fef5fa;
}
.ui-widget-content{
    background-color: #fef5fa;
}
.ui-icon{
    position: absolute;
    right: 39px;
    width: 27px;
    height: 27px;
    background-position: inherit;
    background-image: none;
    text-indent: 0;
    text-align: right;
    top: 21px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.ui-icon:before{
    content: "\f054";
}
.ui-accordion .ui-accordion-header .ui-state-hover span{
    background-image: none;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon{
    transform: rotate(90deg);
}
.ui-dialog{
    width: 100%!important;
    max-width:750px!important;
    padding: 0!important;
    background-color: white;!important;
    height: 602px!important;
}
.ui-widget.ui-widget-content{
    border-radius: 0 0 15px 15px;
}
.ui-draggable .ui-dialog-titlebar{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Raleway';
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
}

.ui-button .ui-icon {
    background-image: none;
}
.container-your-email{
    max-width: 580px;
    width: 100%;
    padding-top: 42px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.lable-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.lable-input .lable-enter-your-email{
    max-width: 140px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 54px;
}
.lable-input .input-enter-your-email{
    width: 384px;
    height: 62px;
    border: black 1px solid;
}
.reset-password{
    width: 528px;
    height: 60px;
    background-color: #d4d4d4;
    text-transform: uppercase;
    border-radius: 3px;
}
.choice{
    margin: 30px 0px;
}

.choice .or{
    text-transform: uppercase;
 }
 .log-in-fc {
     max-width: 528px;
     width: 100%;
     height: 60px;
     background-color: #557bcc;
     display: inline-block;
     padding: 20px 0px;
     text-align: center;
 }
 .log-in-fc--a{
     text-transform: uppercase;
     color: white;
 }
.ui-widget-content .log-in-fc--a{
    color: white;

}
.ui-widget-content.log-in-fc--a.fa.fas .far, .fal, .fab{
    margin-right: 16px;
}
.ui-widget .ui-widget{
    display: none;
    border: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300,700);
*,
*:before,
*:after {
    box-sizing: border-box; }


body.is-froze {
    overflow: hidden;
    width: 100vw;
    height: 100vh; }

.main {
    overflow: hidden;
    position: relative;
    width: 100%;
    width: calc(100% - 0px);
    height: 100vh;
    background-color: #eeeeee;
    transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scale(1) translate3d(0, 0, 0);
    clip-path: inset(0 0 0 0);
    will-change: width, height, opacity, transform, clip-path;
    z-index: 1; }
.main.is-active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    width: calc(100vw - 0px);
    pointer-events: none;
    opacity: 0.25;
    transform: scale(0.9) translate3d(60%, 0, 0); }
@media (min-width: 600px) {
    .main.is-active {
        transform: scale(0.9) translate3d(40%, 0, 0); } }
.main.is-transition-out {
    clip-path: inset(0 0 0 100%); }

.nav__trigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 100px;
    padding: 8px 0;
    transition: 0.2s ease-in-out;
    z-index: 99; }
.nav__trigger .bars {
    position: relative; }
.nav__trigger .bars, .nav__trigger .bars:before, .nav__trigger .bars:after {
    width: 28px;
    height: 4px;
    background-color: #7d87a8;
    transition: 0.2s ease-in-out;
    border-radius: 4px; }
.nav__trigger .bars:before, .nav__trigger .bars:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform; }
.nav__trigger .bars:before {
    transform: translateY(-8px); }
.nav__trigger .bars:after {
    transform: translateY(8px); }
.nav__trigger.is-active {
    transform: rotate(-45deg); }
.nav__trigger.is-active .bars:before, .nav__trigger.is-active .bars:after {
    transform: translateX(0) rotate(-90deg); }

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #191b22;
    z-index: 0; }

.nav__list {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding-left: 60px;
    list-style:none;
    font-family: "Raleway", "Open Sans", sans-serif;
    transform: translateY(-50%); }
.nav__list .nav__item {
    padding: 0.5rem 1rem; }
@media (min-width: 600px) {
    .nav__list .nav__item {
        width: 33.3333333333%;
        padding: 0.5rem 1rem; } }
.nav__list a {
    display: inline-block;
    color: #7d87a8;
    font-size: 1rem;
    line-height: 1.5; }
.nav__list a:hover {
    color: #b1b7cb; }
.nav__list a.is-active {
    color: #d2d5e1; }
@media (min-width: 600px) {
    .nav__list a {
        font-size: 1.5rem; } }

/*# sourceMappingURL=style_preproc.css.map */